.posts {
    display: grid;
    min-height: 10em;
    gap: 1em;
}

.posts .postList {
    list-style: none;
    display: grid;
    gap: 5em;
}


.post div, .post figure {
    display: grid;
}

.post img, .post figure {
    max-width: 100%;
    margin: 0em;
    box-sizing: border-box;
}

.post img {
    border-radius: 0.25em;
    border: solid 5px white;
    margin: 1em 0em;
}

.post h1, .post h2, .post h3, .post h4 {
    margin: 0em;
}

.post {
    background-color: black;
    padding: 1em 1em 2em 1em;
    border-radius: 0.2;
    max-width: 40em;
}

.post h4:first-child {
    border-bottom: solid 5px #c0ffd9;
    border-left: solid 6px #10d0ff;
    padding: 0.4em;
}

@media (max-width: 800px) {
    .posts {
        display: none;
    }
}

.tags {
    list-style: none;
    padding-left: 0px;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.readMore {
    text-align: center;
    padding-top: 5em;
}